name: hssp

on:
  workflow_dispatch:
  schedule:
     - cron: '21 * * * *'
  watch:
    types: started
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    env:
        HOTSOONSIGNHEADER: ${{ secrets.HOTSOONSIGNHEADER }}
        HOTSOONSIGNKEY: ${{ secrets.HOTSOONSIGNKEY }}        
        HOTSOONADHEADER: ${{ secrets.HOTSOONADHEADER }}
        HOTSOONADKEY: ${{ secrets.HOTSOONADKEY }}
        HOTSOONREADHEADER: ${{ secrets.HOTSOONREADHEADER }}
        HOTSOONREADKEY: ${{ secrets.HOTSOONREADKEY }}
        HOTSOONSPAMHEADER: ${{ secrets.HOTSOONSPAMHEADER }}
        HOTSOONSPAMKEY: ${{ secrets.HOTSOONSPAMKEY }}
        TZ: Asia/shanghai
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          npm install
      - name: '运行 【hssp】'
        if: env.HOTSOONSIGNKEY
        run: |
          node hssp.js
        env:
          PUSH_KEY: ${{ secrets.PUSH_KEY }}
          BARK_PUSH: ${{ secrets.BARK_PUSH }}
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_USER_ID: ${{ secrets.TG_USER_ID }}
          BARK_SOUND: ${{ secrets.BARK_SOUND }}
          DD_BOT_TOKEN: ${{ secrets.DD_BOT_TOKEN }}
          DD_BOT_SECRET: ${{ secrets.DD_BOT_SECRET }}
